<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title></title>
   <link rel="stylesheet" type="text/css" href="styles/style.css" />

</head>
<script src="/scripts/aes.js" type="text/javascript"></script>
<script src="/scripts/Encryption.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>


<body>

    <div ng-app="forgotPass" ng-controller="forgotCtrl">

        <form ng-hide="showuser" style="width:100%;height:100%;top:150px;margin-left:-50%">

            <img id="ChangeGearimg" src="/img/ChangeGear.png" />
            <div class="login">
                <div class="text">Forgot password? <br /> <br />Enter username</div>

                <input class="txtbox" id="uname" type="text" ng-model="username" onkeyup="this.value = this.value.toLowerCase();" ng-minlength="1" required>

                </br></br>

                <button ng-click="checkUser()">Submit</button>

                <div id="loginstatus" ng-show="error1" style="position:fixed;top:0px;left:50%;margin-left:-150px;"><span id="logintext">Username does not exist</span></div>
            </div>

        </form>
        <form ng-show="showquestion" style="width:100%;height:100%;top:150px;margin-left:-50%">
            <img id="ChangeGearimg" src="/img/ChangeGear.png" />
            <div id="recoverquestion" class="login" style="width:600px;height:400px;">

                <div class="text">Security Question 1:</div>
                {{questionone}}
                <br />
                <input class="txtbox" ng-model="responseone" type="text" ng-minlength="1" required>
                <br />

                <div class="text">Security Question 2</div>
                {{questiontwo}}
                <br />
                <input class="txtbox" ng-model="responsetwo" type="text" ng-minlength="1" required>
                <br />

                <div class="text">Security Question 3</div>
                {{questionthree}}
                <br />
                <input class="txtbox" ng-model="responsethree" type="text" ng-minlength="1" required>

                <br />

                <button ng-click="checkresponse()">Submit</button>
                <div ng-hide="true" id="enuname"></div>

                <div id="loginstatus" ng-show="error2" style="position:fixed;top:0px;left:50%;margin-left:-150px;"><span id="logintext">Incorrect Answers</span></div>
            </div>
        </form>
        <form ng-show="showreset" name="NewPassword" style="width:100%;height:100%;top:150px;margin-left:-50%">
            <img id="ChangeGearimg" src="/img/ChangeGear.png" />
            <div id="passwordreset" class="login">

                <div class="text">Enter new password</div><br />
                <input class="txtbox" ng-model="newpass" id="upass" type="text" ng-minlength="1" required /><br />
                <div class="text">Confirm password</div><br />
                <input class="txtbox" ng-model="confirmpass" type="text" ng-minlength="1" required /><br /><br />

                <button ng-click="resetpassword()" style="width:auto;" ng-disabled="NewPassword.$invalid">Reset Password</button>

                <div id="enupass"></div>
                <div id="loginstatus" ng-show="error3" style="position:fixed;top:0px;left:50%;margin-left:-150px;"><span id="logintext">Please check both passwords</span></div>
            </div>
        </form>
        <form ng-show="showsuccess" style="width:100%;height:100%;top:150px;margin-left:-50%">
            <img id="ChangeGearimg" src="/img/ChangeGear.png" />
            <div id="resetsuccess" class="login">
                <div class="text" style="position:fixed;margin-left:-10%;word-wrap:break-word">
                You have successfully changed your password! <br />
                Redirecting back to login page in 5 seconds!
                </div>
            </div>
        </form>
    </div>

    <script>
        var app1 = angular.module('forgotPass', [])
        app1.controller('forgotCtrl', function ($scope, $http, $timeout) {
            $scope.checkUser = function () {

                encryptUser();

                $http.post('codebehind.aspx/getQuestion', { user: document.getElementById("enuname").innerHTML })
                    .success(function (data, status) {
                        if (data.d[0] != "false") {
                            $scope.showuser = true;
                            $scope.showquestion = true;
                            $scope.questionone = data.d[0];
                            $scope.questiontwo = data.d[1];
                            $scope.questionthree = data.d[2];
                        }
                        else {
                            $scope.error1 = true;
                        }
                    })
                    .error(function (status) {
                    });
            };

            $scope.checkresponse = function () {
                $http.post('codebehind.aspx/checkresponse', { aone: $scope.responseone, atwo: $scope.responsetwo, athree: $scope.responsethree })
                     .success(function (data, status) {
                         if (data.d == "true")
                         {
                             $scope.showquestion = false;
                             $scope.showreset = true;
                         }
                         else {
                             $scope.error2 = true;
                         }
                    })
                    .error(function (status) {
                    });
            }

            $scope.resetpassword = function () {
                if ($scope.newpass == $scope.confirmpass) {
                    encryptPassword();
                    $http.post('codebehind.aspx/changepassword', { newpass: document.getElementById("enupass").innerHTML })
                         .success(function (data, status) {
                             $scope.showreset = false;
                             $scope.showsuccess = true;
                             $scope.GoToLogin();
                         })
                        .error(function (status) {
                        });
                }
                else {
                    $scope.error3 = true;
                }
            };

            $scope.GoToLogin = function () {
                $timeout(function () {
                    window.location.href = "index.html";
                    }
                    ,5000);
            }
        });
    </script>
</body>
</html>
